@using RazorDemonstration.FormHelpers;

@{
    ViewData["Title"] = ViewBag.Title;
    var comicTitle = ViewBag.ComicTitle as ComicTitle;
    var isFormReadOnly = ViewBag.IsFormReadOnly ?? true;
}

<div class="container" style="margin-top: 20px;">
    <div class="row">
        @FormHelpers.LabelWithTextBox(
                 id: "name",
                 labelText: "Name",
                 inputValue: comicTitle.Name,
                 isReadOnly: isFormReadOnly,
                 formCss: "col-sm-4"
             )
    </div>
    <div class="row">
        @FormHelpers.LabelWithTextBox(
                 id: "url",
                 labelText: "Url",
                 inputValue: comicTitle.Url,
                 isReadOnly: isFormReadOnly,
                 formCss: "col-sm-4"
             )
    </div>
    <div class="row">
        @FormHelpers.LabelWithTextBox(
                 id: "iconUrl",
                 labelText: "Icon Url",
                 inputValue: comicTitle.IconUrl,
                 isReadOnly: isFormReadOnly,
                 formCss: "col-sm-8"
             )
        <img src="@comicTitle.IconUrl" style="border:1px solid #021a40;">
    </div>


    @if (isFormReadOnly)
    {
        <div class="row">
            <button id="editBtn" onclick="location.href='@Url.Action("Edit", "Home", new { id = comicTitle.ComicTitleId })'"
                    type="button" class="btn btn-primary" style="width: 6em;">
                Edit
            </button>
        </div>
    }
    else
    {
        <div class="row">
            <button id="saveBtn" onclick="update()"
                    type="button" class="btn btn-danger" style="width: 6em;">
                Save
            </button>
        </div>
    }
</div>

<script>
    var update = function () {
        var id = @comicTitle.ComicTitleId;
        var name = $("#name").val();
        var iconUrl = $("#iconUrl").val();
        var url = $("#url").val();

        $.ajax({
            url: "@Url.Action("Save", "Home")",
            type: "Post",
            data: {
                id: id,
                name: name,
                iconUrl, iconUrl,
                url, url
            },
            success: function (data) {
                window.location.href = "@Url.Action("View", "Home")"
            }
        });
    };
</script>